# 余分なもの多いと思われ。

cryptography==1.7.1
dnspython==1.15.0
enum34==1.1.6
gyp==0.1
idna==2.2
ipaddress==1.0.17
keyring==10.1
keyrings.alt==1.3
libusb1==1.6.4
ndeflib==0.3.2
nfcpy==0.13.5
pigpio==1.41
pyasn1==0.1.9
pycrypto==2.6.1
pyDes==2.0.1
pygobject==3.22.0
pyserial==3.4
pyxdg==0.25
RPi.GPIO==0.6.3
SecretStorage==2.3.1
six==1.10.0

